#topo h1{
    text-align: center;
    color: red;
}

#topo h2{
    text-align: center;
}

.destaques {
    color: darkblue;
}

.destaques ul li a:hover{
    display:flex;
    background-color: blueviolet;


}

.destaques ul li a{
    text-decoration: none;
    font-size: large;
    font-family: cursive;
}

/*transformacao menu*/
#menu{
    background-color: black;
}

#menu ul{
    list-style: none; /*remove os marcadores*/
    display: flex; /*elemento lado a lado*/
}

#menu ul li{
    margin: 0;
}

#menu ul li a{
    display: block;
    padding: 20px 20px;
    color: white;
    text-decoration: none;
}

#menu ul li a:hover{
    background-color: darkblue;
}