#testandoID {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: teal;
    font-size: xx-large;

}

.testandoCLASS {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:cornflowerblue;
    font-size: xx-large;
}