/* Reset simples */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    max-width: 1000px;
    margin: auto;
}